<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>brand</title>
</head>
<body>
<div align="center">
    <h1>Products</h1>
    <a href="new">Create new Product</a>
    <table>
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
            <th>Brand</th>
            <th>Category</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${products}">
                <td th:text="${p.getId()}">Product ID</td>
                <td th:text="${p.getName()}">Name</td>
                <td th:text="${p.getDescription()}">Description</td>
                <td th:text="${p.getImage()}">Image</td>
                <td th:text="${p.getPrice()}">Price</td>

                <td th:text="${p.getBrand() != null} ? ${p.getBrand().getName()} : 'No BRand'"></td>
                <td th:text="${p.getCategory() != null} ? ${p.getCategory().getName()} : 'No Category'"></td>
                <td>
                    <a th:href="@{'/edit/'+ ${p.id}}">Edit</a>
                    <a th:href="@{'/delete/'+ ${p.id}}">Delete</a>
                </td>

            </tr>
        </tbody>
    </table>
</div>
</body>
</html>